<h1>Messages</h1>
<p><%= link_to 'Send a new message', new_message_path %></p>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Chat ID</th>
    <th>User ID</th>
    <th>Body</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Record</th>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%= message.id %></td>
      <td><%= message.chat_id %></td>
      <td><%= message.user_id %></td>
      <td><%= message.body %></td>
      <td><%= message.created_at %></td>
      <td><%= message.updated_at %></td>
      <td>
      <%= link_to "Show", message_path(message) %>
      <% if can? :edit, message %>
        <%= link_to "Edit", edit_message_path(message) %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
