<div class="container mt-4">
  <h1 class="mb-4">User Info</h1>

  <div class="card mb-4">
    <div class="card-body">
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item"><strong>ID:</strong> <%= @user.id %></li>
        <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
        <li class="list-group-item"><strong>First Name:</strong> <%= @user.first_name %></li>
        <li class="list-group-item"><strong>Last Name:</strong> <%= @user.last_name %></li>
        <li class="list-group-item"><strong>Created At:</strong> <%= @user.created_at.strftime("%Y-%m-%d %H:%M") %></li>
        <li class="list-group-item"><strong>Updated At:</strong> <%= @user.updated_at.strftime("%Y-%m-%d %H:%M") %></li>
      </ul>
    </div>
  </div>

  <h2 class="mb-3">Chats Participated</h2>
  <ul class="list-group mb-4">
    <% @user.sent_chats.each do |chat| %>
      <li class="list-group-item">To <%= chat.receiver.email %></li>
    <% end %>
    <% @user.received_chats.each do |chat| %>
      <li class="list-group-item">From <%= chat.sender.email %></li>
    <% end %>
  </ul>

  <h2 class="mb-3">Messages Sent</h2>
  <ul class="list-group mb-4">
    <% @user.sent_messages.each do |msg| %>
      <li class="list-group-item">
        In Chat #<%= link_to msg.chat_id, chat_path(msg.chat), class: "link-primary" %>: <%= msg.body %>
      </li>
    <% end %>
  </ul>

  <div class="d-flex gap-2">
    <%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>
    <% if can? :edit, @user %>
      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
