<h1>New Chat</h1>

<% if @chat.errors.any? %>
  <div style="color: red;">
    <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
    <ul>
      <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @chat do |f| %>
  <%= f.label :sender_id, "Sender" %>
  <%= f.select :sender_id, User.all.collect { |u| [u.email, u.id] } %><br>

  <%= f.label :receiver_id, "Receiver" %>
  <%= f.select :receiver_id, User.all.collect { |u| [u.email, u.id] } %><br>

  <%= f.submit "Create Chat" %>
<% end %>

<%= link_to 'Back to chats', chats_path %>
