<h1>Chat Info</h1>

<ul>
  <li><strong>ID:</strong> <%= @chat.id %></li>
  <li><strong>Sender ID:</strong> <%= @chat.sender_id %></li>
  <li><strong>Receiver ID:</strong> <%= @chat.receiver_id %></li>
  <li><strong>Created At:</strong> <%= @chat.created_at %></li>
  <li><strong>Updated At:</strong> <%= @chat.updated_at %></li>
</ul>
<p><strong>Sender:</strong> <%= @chat.sender.email %></p>
<p><strong>Receiver:</strong> <%= @chat.receiver.email %></p>

<h2>Messages</h2>
<ul>
  <% @chat.messages.each do |msg| %>
    <li><strong><%= msg.user.email %>:</strong> <%= msg.body %></li>
  <% end %>
</ul>

<%= link_to "Back to Chats", chats_path %>
<% if can? :update, @chat %>
  <%= link_to "Edit", edit_chat_path(@chat) %>
<% end %>
